<% content_for :title do %>About<% end %>
<h3>About Colin Rademacher</h3>
<p>He was born in New Jersey.  Grew up in Ohio.  Went to Indiana.  Loves San Francisco.</p>
<p>"Giving up is something a Lauda doesn't do."</p>
